body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Override scrollbar */
::-webkit-scrollbar {
  scrollbar-color: auto !important;
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: #ababab;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  border-width: 0;
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--primary);
}

::-webkit-scrollbar-track {
  background: transparent;
}

.ant-table-body {
  scrollbar-color: auto !important;
}
.ant-popover-inner[role='tooltip'] {
  padding: 0;
}
